[submodule "src/turtlebot3"]
	path = src/turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3
[submodule "src/depth_anything/tools/Depth-Anything-3"]
	path = src/depth_anything/tools/Depth-Anything-3
	url = https://github.com/ByteDance-Seed/Depth-Anything-3.git
